* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

/* ========================================================================================================================================================

======================================================================================================================================================== */

#categories {
  padding: 24px;
  max-width: 440px;
  max-height: 888px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
  background-color: #f6f6fe;
}

.item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin-bottom: 16px;
}

.sub-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sub-list-item {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

/* ========================================================================================================================================================

======================================================================================================================================================== */

.gallery {
  max-width: 1128px;

  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin: auto;
}

/* ========================================================================================================================================================

======================================================================================================================================================== */

#name-input {
  width: 360px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
  margin-top: 24px;
}

#name-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#name-input+h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* ========================================================================================================================================================

======================================================================================================================================================== */

.login-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-user-info {
  width: 360px;
  height: 72px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.form-input {
  height: 40px;
}

.form-input:hover {
  border-color: black;
}

.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;

}

.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}

/* ========================================================================================================================================================

======================================================================================================================================================== */

.widget {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
}

.change-color:hover,
.change-color:focus {
  background-color: #6c8cff;
}

/* ========================================================================================================================================================

======================================================================================================================================================== */

#controls {
  display: flex;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  max-width: 486px;

  background-color: #f6f6fe;
}

#controls>input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 55px;
  max-width: 150px;
  height: 40px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

#boxes {
  border-radius: 8px;
  padding: 32px;
  min-width: 486px;
  height: 134px;

  display: flex;
  flex-wrap: wrap;
  gap: 44px; 
  background-color: #f6f6fe;
}